<div>
    <form name="vm.data_input_form" role="form" novalidate 
    ng-submit="vm.submit()">
        <div class="row clearfix">
            <h4>Datos del Profesor</h4>
            <br>
            <div class="col-md-12 column well">
                <div class="row">
                    <div class="col-md-4 column">
                        <label for="cedula">Numero de Cédula</label>
                        <input type="numeric" class="form-control" 
                        name="cedula" ng-model="vm.profesor.Cedula" 
                        placeholder="12345678" required/>
                        <div class="error" ng-show="vm.submitted && 
                        vm.data_input_form.cedula.$invalid">
                            <small class="error"
                            ng-show="vm.data_input_form.cedula.$error.required">
                                El Número de Cédula del Profesor es Obligatorio.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" 
                        name="nombre" ng-model="vm.profesor.Nombre"
                        required/>
                        <div class="error" ng-show="vm.submitted && 
                        vm.data_input_form.nombre.$invalid">
                            <small class="error" 
                            ng-show="vm.data_input_form.nombre.$error.required">
                                El Nombre del Profesor es Obligatorio.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" 
                        name="apellido" ng-model="vm.profesor.Apellido"  required/>
                        <div class="error" ng-show="vm.submitted && 
                        vm.data_input_form.apellido.$invalid">
                            <small class="error" 
                            ng-show="vm.data_input_form.apellido.$error.required">
                                El Apellido del Profesor es obligatorio.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row clearfix"><div class="col-md-12 column"><br><br></div></div>
                <div class="row">
                    <div class="col-md-4 column">
                        <label for="correo">Dirección de Correo</label>
                        <input type="correo" class="form-control" 
                        name="correo" ng-model="vm.profesor.Correo" 
                        ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="me@example.com" required/>
                        <div class="error" ng-show="vm.submitted && 
                        vm.data_input_form.correo.$invalid">
                            <small class="error" 
                            ng-show="vm.data_input_form.correo.$error.required">
                                El Correo del Profesor es obligatorio.
                            </small>
                            <small class="error" 
                            ng-show="vm.data_input_form.correo.$error.pattern">
                                El Formato del Correo del Profesor es incorrecto.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-4 column">
                        <label for="telefono">Número de Teléfono</label>
                        <input type="telefono" class="form-control" 
                        name="telefono" ng-model="vm.profesor.Telefono" 
                        ng-pattern="/\d{4}-\d{3}-\d{4}/" maxlength="13"
                        placeholder="0424-123-9876"/>
                        <small class="error" 
                        ng-show="vm.data_input_form.telefono.$error.pattern">
                            El Formato del Número de Teléfono es incorrecto.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-2 column">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <p class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn-primary btn">Agregar Profesor</button>
                    </span>
                    </p>
                </div>
            </div>
        </div> 
    </form>
</div>

