<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="col-md-4 column"></div>
    </div>
</div>
<form name="vm.data_input_form" role="form" novalidate ng-submit="vm.submit()">  
    <div class="row clearfix">
        <h4>Modificar Profesor</h4></br>
        <div class="col-md-12 column well">
            <div class="row">
                <div class="col-md-4 column">
                    <label for="cedula">Cedula</label>
                    <input type="numeric" class="form-control" name="cedula" readonly="readonly" ng-model="vm.profesor.id"/>
                </div>
                <div class="col-md-4 column">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" readonly="readonly" ng-model="vm.profesor.name"/>
                </div>
                <div class="col-md-4 column">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" readonly="readonly" ng-model="vm.profesor.lastname"/>
                </div>
            </div>
            <div class="row clearfix"><div class="col-md-12 column"><br><br>
            </div></div>
            <div class="row">
                <div class="col-md-4 column">
                    <label for="email">Dirección de Correo Electronico</label>
                    <input type="email" class="form-control" name="email" 
                    ng-model="vm.profesor.email" 
                    ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="me@example.com"/>
                    <small class="error" 
                    ng-show="vm.data_input_form.correo.$error.pattern">
                        El formato del Correo del Profesor es incorrecto.
                    </small>
                </div>
                <div class="col-md-4 column">
                    <label for="telefono">Número de Teléfono</label>
                    <input type="telefono" class="form-control" 
                        name="telefono" ng-model="vm.profesor.number" 
                        ng-minlength="7" ng-maxlength="13"
                        placeholder="04241239876"/>
                        <small class="error" 
                        ng-show="vm.data_input_form.telefono.$error.minlength">
                            La longitud del Número de Teléfono es de 7 números mínimo.
                        </small>
                        <small class="error" 
                        ng-show="vm.data_input_form.telefono.$error.maxlength">
                            La longitud del Número de Teléfono es de 13 números máximo.
                        </small>
                </div>
                <div class="col-md-offset-1 col-md-2 column">
                    <button type="button" class="btn-primary btn" style="margin: 10px" ng-click="vm.newPassword()">Cambiar Contraseña</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="form-group">
                <label>&nbsp;</label>
                <p class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn-success btn">Modificar Profesor</button>
                    </span>
                </p>
            </div>
        </div>
    </div>
</form>