<div class="row clearfix">
    <h4>Listado de Profesores</h4>
    <br>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th width="20%">
                    Cedula
                    <span ng-show="sortType == 'Cedula' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'Cedula' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="20%">
                    Nombre
                    <span ng-show="sortType == 'Nombre' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'Nombre' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="20%">
                    Apellido
                    <span ng-show="sortType == 'Apellido' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'Apellido' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="20%" style="text-align: center">
                    Modificar
                </th>
                <th width="20%" style="text-align: center">
                    Borrar
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="profesor in vm.listaProfesor">
                <td style="vertical-align:middle">{{ profesor.Cedula }}</td>
                <td style="vertical-align:middle">{{ profesor.Nombre }}</td>
                <td style="vertical-align:middle">{{ profesor.Apellido }}</td>
                <td style="text-align: center">
                    <span title="Click aqui para Modificar un Profesor"  class="glyphicon glyphicon-edit" aria-hidden="true"  ng-click="vm.modificarProfesor($index)" style="cursor:pointer"></span>
                </td>
                <td style="text-align: center">
                    <span title="Click aqui para Eliminar un Profesor" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="vm.eliminarProfesorModal($index)" style="cursor:pointer"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
