<div  class="modal-header">
    <h3 class="modal-title">Eliminar Materia</h3>
</div>
<div style="text-align: center" class="modal-body">
    {{ mensaje }} 
</div>
<div  class="modal-footer">
    <button class="btn btn-primary" ng-show="botonOk" type="button" 
    ng-click="vm.eliminarMateria(index)">OK</button>
    <button class="btn btn-primary" ng-show="otroBotonOk" type="button" 
    ng-click="ok(urlLo)">OK</button>
    <button class="btn btn-warning" ng-show="botonCancelar" type="button" 
    ng-click="cancel()">Cancel</button>
</div>