<div class="row clearfix">
    <h4>Listado de Secciones</h4></br>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th width="20%">
                    <a href="" ng-click="sortType = 'Nombre'; 
                    sortReverse = !sortReverse">
                        Sección
                        <span ng-show="sortType == 'Nombre' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Nombre' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th width="20%">
                    <a href="" 
                    ng-click="sortType = 'Materia'; sortReverse = !sortReverse">
                        Nombre de la Materia
                        <span ng-show="sortType == 'Materia' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Materia' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th width="20%">
                    <a href="" ng-click="sortType = 'Codigo'; sortReverse = !sortReverse">
                        Codigo de la Materia
                        <span ng-show="sortType == 'Codigo' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Codigo' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th width="20%">
                    <a href="" ng-click="sortType = 'Semestre'; sortReverse = !sortReverse">
                        Semestre
                        <span ng-show="sortType == 'Semestre' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Semestre' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th width="10%" style="text-align: center">
                    <a>Modificar</a>
                </th>
                <th width="10%" style="text-align: center">
                    <a>Borrar</a>
                </th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="matricula in vm.listaMatricula | orderBy:sortType:sortReverse | filter:searchUser">
                <td style="vertical-align:middle">{{ matricula.Nombre }}</td>
                <td style="vertical-align:middle">{{ matricula.Materia }}</td>
                <td style="vertical-align:middle">{{ matricula.Codigo }}</td>
                <td style="vertical-align:middle">{{ matricula.Semestre }}</td>
                <td style="text-align: center">
                    <span title="Click aqui para Modificar la Matricula" 
                    class="glyphicon glyphicon-edit" aria-hidden="true" 
                    ng-click="vm.modificarMatricula($index)" 
                    style="cursor:pointer"></span>
                </td>
                <td style="text-align: center">
                    <span title="Click aqui para Eliminar la Matricula" 
                    class="glyphicon glyphicon-remove" aria-hidden="true" 
                    ng-click="vm.eliminarMatriculaModal($index)"
                    style="cursor:pointer"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show=false > {{ vm.eliminarMatriculaSplice(index, rsplice) }}</div>
</div>