<div class="row clearfix">
    <h4>Estudiantes Inscritos en {{ vm.section.course }} - Seccion {{ vm.section.name }} - Semestre {{ vm.section.semester }}</h4>
    <br>
    <span class="input-group-btn">
        <button class="btn-success btn" ng-click="vm.addStudent()" style="margin: 10px"> Agregar Estudiante </button>
        <button type="button" class="btn-warning btn" style="margin: 10px" ng-click="vm.back()">Regresar</button>
    </span>
    <br>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th width="10%" style="text-align: center">
                    Cedula
                    <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="20%" style="text-align: center">
                    Nombre
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="20%" style="text-align: center">
                    Apellido
                    <span ng-show="sortType == 'lastname' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'lastname' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="20%" style="text-align: center">
                    Correo
                    <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="10%" style="text-align: center">
                    Actualizar Correo
                </th>
                <th width="10%" style="text-align: center">
                    Dirección BT
                    <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="10%" style="text-align: center">
                    Liberar Dirección BT
                </th>
                <th width="10%" style="text-align: center">
                    Retirar
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in vm.students">
                <td style="vertical-align:middle">{{ student.id }}</td>
                <td style="vertical-align:middle">{{ student.name }}</td>
                <td style="vertical-align:middle">{{ student.lastname }}</td>
                <td style="vertical-align:middle">{{ student.email }}</td>
                <td style="text-align: center">
                    <span class="glyphicon glyphicon-envelope" 
                    aria-hidden="true"
                    ng-click="vm.mailUpdate($index)" 
                    style="cursor:pointer;"></span>
                </td>
                <td style="vertical-align:middle">{{ student.btaddress }}</td>
                <td style="text-align: center">
                    <span class="glyphicon glyphicon-signal" 
                    aria-hidden="true"
                    ng-click="vm.freeBTAddressModal($index)" 
                    style="cursor:pointer;"></span>
                </td>         
                <td style="text-align: center">
                    <span class="glyphicon glyphicon-remove" 
                    aria-hidden="true"
                    ng-click="vm.retirarEstudianteModal($index)" 
                    style="cursor:pointer;"></span>
                </td>         
            </tr>
            </tbody>
        </table>
    </div>
</div>