<div>
    <form name="vm.data_input_form" role="form" novalidate 
    ng-submit="vm.submit()">
        <div class="row clearfix">
            <h4>Nueva Sección</h4>
            <br>
            <div class="col-md-12 column well">
                <div class="row">
                    <div class="col-md-4 column">
                        <label>Nombre de la Materia</label>
                         <input type="text" class="form-control" 
                        name="materia" readonly="readonly" 
                        ng-model="vm.course.name" required/>
                    </div>
                    <div class="col-md-4 column">
                        <label for="codigo">Codigo de la Materia</label>
                        <input type="text" class="form-control" 
                        name="codigo" readonly="readonly" 
                        ng-model="vm.course.code" required/>
                    </div>
                    <div class="col-md-4 column">
                        <label for="semestre">Semestre</label>
                        <input type="text" class="form-control" 
                        name="semestre" readonly="readonly" 
                        ng-model="vm.semester" required/>
                        <div class="error" ng-show="vm.submitted && 
                        vm.data_input_form.semestre.$invalid">
                            <small class="error" 
                            ng-show="vm.data_input_form.semestre.$error.required">
                                El Semestre es obligatorio.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row clearfix"><div class="col-md-12 column"><br><br></div></div>
                <div class="row">
                    <div class="col-md-4 column">
                        <label for="seccion">Sección</label>
                        <input type="text" class="form-control" 
                        name="seccion" readonly="readonly" ng-model="vm.name" 
                        required/>
                        <div class="error" ng-show="vm.submitted && 
                        vm.data_input_form.seccion.$invalid">
                            <small class="error" 
                            ng-show="vm.data_input_form.seccion.$error.required">
                               La sección es obligatoria.
                            </small>
                        </div>
                    </div>
                     <div class="col-md-4 column"><br>
                        <label for="seccion">Cargar Estudiantes</label>
                            <input type="file" name="xlfile" id="xlf"/></input>
                        </span>
                    </div>
                <div class="row clearfix"><div class="col-md-12 column"><br>
                    <br></div></div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-2 column">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <p class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn-success btn">Crear Sección</button>
                        <button type="button" class="btn-warning btn" style="margin: 10px" ng-click="vm.back()">Regresar</button>
                    </span>
                    </p>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th width="20%">
                    <a href="" ng-click="sortType = 'Cedula'; 
                    sortReverse = !sortReverse">
                        Cedula
                        <span ng-show="sortType == 'Cedula' && 
                        !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Cedula' && 
                        sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th width="40%">
                    <a href="" ng-click="sortType = 'Apellido'; 
                    sortReverse = !sortReverse">
                        Apellido
                        <span ng-show="sortType == 'Apellido' && 
                        !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Apellido' && 
                        sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th width="40%">
                    <a href="" ng-click="sortType = 'Nombre'; 
                    sortReverse = !sortReverse">
                        Nombre
                        <span ng-show="sortType == 'Nombre' && 
                        !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Nombre' && 
                        sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="student in vm.students">
                <td style="vertical-align:middle">{{ student.id }}</td>
                <td style="vertical-align:middle">{{ student.lastname }}</td>
                <td style="vertical-align:middle">{{ student.name }}</td>
            </tr>
            </tbody>
        </table> 
    </form>
</div>