<div class="row clearfix">
    <h4>Listado de Secciones en {{vm.course}} </h4></br>
    <div>
    <span class="input-group-btn">
        <button class="btn-success btn" ng-click="vm.createSection()" style="margin: 10px"> Crear Sección </button>
        <button type="button" class="btn-warning btn" style="margin: 10px" ng-click="vm.back()">Regresar</button>
    </span>
    </br>
    </br>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th width="20%">
                        Sección
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="20%">
                        Nombre de la Materia
                        <span ng-show="sortType == 'course' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'course' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="20%">
                        Codigo de la Materia
                        <span ng-show="sortType == 'code' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'code' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="20%">
                        Semestre
                        <span ng-show="sortType == 'semester' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'semester' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th width="10%" style="text-align: center">
                    Matricula
                </th>
                <th width="10%" style="text-align: center">
                    Eliminar
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat = "section in vm.section">
                <td style="vertical-align:middle">{{ section.name }}</td>
                <td style="vertical-align:middle">{{ section.course }}</td>
                <td style="vertical-align:middle">{{ section.code }}</td>
                <td style="vertical-align:middle">{{ section.semester }}</td>
                <td style="text-align: center">
                    <span title="Click aqui para Modificar la Matricula" 
                    class="glyphicon glyphicon-edit" aria-hidden="true" 
                    ng-click="vm.modificarMatricula($index)" 
                    style="cursor:pointer"></span>
                </td>
                <td style="text-align: center">
                    <span title="Click aqui para Eliminar la Matricula" 
                    class="glyphicon glyphicon-remove" aria-hidden="true" 
                    ng-click="vm.eliminarMatriculaModal($index)"
                    style="cursor:pointer"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>