<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/listarMateria"><img alt="ucv" src="static/img/logo_ucv.jpg" class="img-circle" width="60" height="60"></a>
            <a class="navbar-brand" href="#/listarMateria"><img alt="ciencias" src="static/img/logo_ciencias.jpg" class="img-rounded" width="60" height="60"></a>
            <a class="navbar-brand" href="#/listarMateria"><img alt="computacion" src="static/img/logo_computacion.png" lass="img-thumbnail" width="270" height="60"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <div class="container-fluid">
                    <br>
                    <span>Bienvenido(a)! Profesor(a) {{vm.professor.lastname}}</span>
                    <button class="btn-danger btn" 
                            style=" margin: 10px" 
                            ng-click= "vm.logout()">
                            <span class="glyphicon glyphicon-log-out" 
                                aria-hidden="true"></span> 
                            Salir 
                    </button>
                </div>
            </ul>
        </div>
    </div>
</nav>