<div>
    <form name="vm.data_input_form" role="form" novalidate 
    ng-submit="vm.submit()">
        <div class="row clearfix">
            <h4>Datos de la Materia</h4>
            <br>
            <div class="col-md-12 column well">
                <div class="row">
                    <div class="col-md-6 column">
                        <label for="code">Código de la Materia * </label>
                        <input type="numeric" class="form-control" 
                        name="code" ng-model="vm.course.code"
                        ng-pattern="/\d{4}/" placeholder="6201" maxlength="4" required/>
                        <div class="error" ng-show="vm.submitted && 
                        vm.data_input_form.code.$invalid">
                            <small class="error" 
                            ng-show="vm.data_input_form.code.$error.required">
                                El Código de la Materia es Obligatorio.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-6 column">
                        <label for="name">Nombre de la Materia * </label>
                        <input type="text" class="form-control" 
                        name="name" ng-model="vm.course.name" placeholder="Algoritmos y Programación" required/>
                        <div class="error" ng-show="vm.submitted && 
                        vm.data_input_form.name.$invalid">
                            <small class="error" 
                            ng-show="vm.data_input_form.name.$error.required">
                                El Nombre de la Materia es Obligatorio.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row clearfix"><div class="col-md-12 column"><br>
                    <br></div></div>
                <div class="row">
                    <div class="col-md-6 column">
                       <label for="credits">Cantidad de Creditos * </label>
                        <input type="numeric" class="form-control" 
                        name="credits" ng-model="vm.course.credits"
                        maxlength="1" placeholder="6" required/>
                        <div class="error" ng-show="vm.submitted && 
                        vm.data_input_form.credits.$invalid">
                            <small class="error" 
                            ng-show="vm.data_input_form.credits.$error.required">
                                La Cantidad de Creditos es Obligatoria.
                            </small>
                        </div>
                    </div>
                    <div class="col-md-6 column">
                        <label for="description">Descripción * 
                        </label>
                        <input type="text" class="form-control" 
                        name="description" ng-model="vm.course.description"placeholder="Materia Obligatoria de Componente Básico del Primer Semestre."
                        required/>
                        <div class="error" ng-show="vm.submitted && 
                        vm.data_input_form.description.$invalid">
                            <small class="error" 
                            ng-show="vm.data_input_form.description.$error.required">
                                Por favor, inserte una breve descripción.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <label> * Estos campos son obligatorios.</label> 
        </div>
        <div class="row clearfix">
            <div class="col-md-2 column">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <p class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn-success btn">Crear Materia</button>
                        <button type="button" class="btn-warning btn" style="margin: 10px" ng-click="vm.back()">Regresar</button>
                    </span>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>