<div class="row clearfix">
    <h4>Lista de Materias</h4>
    <div class="row clearfix"><div class="col-md-12 column"><br><br></div>
</div>
    <div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th width="10%">
                        Código
                        <span ng-show="sortType == 'code' && 
                        !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'code' && 
                        sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th width="20%">
                        Nombre
                        <span ng-show="sortType == 'name' && 
                        !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && 
                        sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th width="10%">
                        Creditos
                        <span ng-show="sortType == 'credits' &&
                        !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'credits' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th width="40%" style="text-align: center">
                
                        Descripción  
    
                    </th>
                    <th width="10%" style="text-align: center">
                        Secciones
                    </th>
                    <th width="10%" style="text-align: center">
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="course in vm.course">
                    <td style="vertical-align:middle">{{ course.code }}</td>
                    <td style="vertical-align:middle">{{ course.name }}</td>
                    <td style="vertical-align:middle">{{ course.credits }}</td>
                    <td style="vertical-align:middle">{{ course.description }}</td>
                     <td style="text-align: center">
                        <span 
                        title="Click aqui para ver Secciones" 
                        class="glyphicon glyphicon-list" 
                        aria-hidden="true" 
                        ng-click="vm.listarSecciones($index)" 
                        style="cursor:pointer"></span>
                    </td>
                    <td style="text-align: center">
                        <span 
                        title="Click aqui para Eliminar la Materia" 
                        class="glyphicon glyphicon-remove" 
                        aria-hidden="true" 
                        ng-click="vm.eliminarMateriaModal($index)" 
                        style="cursor:pointer"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>